{% extends 'base.html' %}
{% block title %}
    高中成绩处理
{% endblock %}
{% block head %}
    <style>
        th, td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col mx-auto" style="max-width: 800px">
                <label for="" class="mx-auto h5">请选择有效的excel格式文件</label>
                <form action="{{ url_for('catalog_courses') }}" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <label class="col mx-auto" style="width: 800px">
                            <input type="file" class="form-control" placeholder="请输入原始成绩路径"
                                   name="path_file" value="{{ path_file }}">
                        </label>
                        <button type="submit" class="btn btn-outline-info">查看</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if catalog_html %}
        <div class="container mt-3">
            <div class="row">
                <div class="col h3 text-center text-black-50">
                    数据更新时间：{{ update_time }}
                    <hr>
                    <br>
                    数据来源：{{ path_file.filename }}
                </div>
            </div>
        </div>
        <div class="container mt-5 text-center">
            <div class="row">
                <div class="col">
                    <h3>分类汇总统计表</h3>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col text-center table-responsive text-nowrap">
                    <hr>
                    <div class="table-responsive">
                        {{ catalog_html|safe }}
                    </div>

                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-5 text-center text-warning">
            <div class="row">
                <div class="col h4">
                    {{ weekday }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if catalog_exported %}
        <div class="container mt-5 text-center text-warning">
            <div class="row">
                <div class="col">
                    <h5>数据处理完成！
                        <button class="btn btn-outline-info">
                            <a href="{{ catalog_exported }}" style="text-decoration: none">导出excel表</a>
                        </button>
                    </h5>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}