{% extends 'base.html' %}
{% block title %}
    高中成绩处理
{% endblock %}
{% block head %}
    <style>
        th, td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col mx-auto" style="max-width: 800px">
                <label for="" class="mx-auto h5 text-warning">按已知有效分统计:请选择有效的excel格式文件</label>
                <form action="{{ url_for('export_by_goodscores') }}" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <label class="col mx-auto" style="max-width: 800px">
                            <input type="file" class="form-control" placeholder="请输入原始成绩路径"
                                   aria-describedby="input" name="path_file" value="{{ path_file }}">
                            <input type="text" class="form-control" placeholder="请输入文科有效分"
                                   aria-describedby="input" name="arts_scores" value="{{ arts_scores }}">
                            <input type="text" class="form-control" placeholder="请输入理科有效分"
                                   aria-describedby="input" name="science_scores" value="{{ science_scores }}">
                        </label>
                        <button type="submit" class="btn btn-outline-info text-wrap">导出excel表</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if exam_processed %}
        <div class="container mt-3">
            <div class="row">
                <div class="col h3 text-center text-black-50">
                    数据更新时间：{{ update_time }}
                    <hr>
                    <br>
                    数据来源：{{ path_file }}
                    <br>
                    文科有效分：{{ arts_scores }}
                    <br>
                    理科有效分：{{ science_scores }}
                </div>
            </div>
        </div>
        <div class="container mt-5 text-center text-warning">
            <div class="row">
                <div class="col">
                    <h5>导出完成!
                        <button class="btn btn-outline-info" onclick="window.location.href='/export'">下载excel电子表格
                        </button>
                    </h5>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container mt-5 text-center text-warning">
            <div class="row">
                <div class="col h4">
                    警告：请选择正确的Excel电子表格文件名！
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}